{
    "ecmaFeatures": {
        "arrowFunctions"                   : true,
        "blockBindings"                    : true,
        "defaultParams"                    : true,
        "forOf"                            : true,
        "superInFunctions"                 : true,
        "objectLiteralShorthandMethods"    : true,
        "objectLiteralShorthandProperties" : true,
        "jsx"                              : true,
        "templateStrings"                  : true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent" : [4, "tab"],
        "semi"   : 2,

        "no-comma-dangle"         : true,
        "no-cond-assign"          : true,
        "no-console"              : false,
        "no-constant-condition"   : false,
        "no-control-regex"        : true,
        "no-debugger"             : true,
        "no-dupe-keys"            : true,
        "no-empty"                : true,
        "no-empty-class"          : true,
        "no-ex-assign"            : true,
        "no-extra-boolean-cast"   : false,
        "no-extra-parens"         : false,
        "no-extra-semi"           : true,
        "no-func-assign"          : true,
        "no-inner-declarations"   : false,
        "no-invalid-regexp"       : true,
        "no-irregular-whitespace" : true,
        "no-negated-in-lhs"       : true,
        "no-obj-calls"            : true,
        "no-regex-spaces"         : false,
        "no-reserved-keys"        : true,
        "no-sparse-arrays"        : true,
        "no-unreachable"          : true,
        "use-isnan"               : true,
        "valid-jsdoc"             : true,
        "valid-typeof"            : true,

        "block-scoped-var"        : true,
        "complexity"              : [1, 2, 3],
        "consistent-return"       : true,
        "curly"                   : [2, "all"],
        "default-case"            : false,
        "dot-notation"            : [2, { "allowKeywords": true }],
        "eqeqeq"                  : [2, "smart"]
    }
}
