*.js.map
src/*.js
test/*.js
test-kit/*.js
*.vpw
*.vpj
*.vpwhistu
*.vpwhist
*.vtg
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
dist
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
.DS_Store
!example-poc/build.js
!example-poc/deletePrivate.js
!webpack.config.js
.npmrc
.npmrc
