*.vpw
*.vpj
*.vpwhistu
*.vpwhist
*.vtg
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
node_modules
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json
dist/test
poc
*.bundle.js
